.input-with-icon {
  position: relative;
  width: 50%;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 6px;
}

.input-with-icon input {
  width: 100%;
  padding-left: 36px;
  height: 36px;
  font-size: 16px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}
