* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.nav-button {
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 52px;
  padding: 10rem;
}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 5px;
  cursor: pointer;
}
